.about {
  @extend .flex-center;
  background-color: color(background);
  height: 100vh;
  position: relative;

  &__background {
    position: absolute;
    background-color: color(background-lighter);
    width: 46rem;
    height: 40rem;
    left: 47%;

    @include device(mobileAndTablet) {
      & {
        display: none;
      }
    }
  }

  &__content {
    @extend .flex-start;
    padding: 7rem 8vw;
    position: relative;

    &-description:not(:last-child),
    &-image {
      margin-right: 3rem;
    }

    &-image {
      @extend .img-background;
      width: 20rem;
      height: 26rem;

      &-mask {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: color(background-lighter);
        opacity: 0.1;
        user-select: none;
        pointer-events: none;
      }
    }

    &-description {
      width: calc(100% / 3);
      z-index: 2;

      > * {
        font-family: font(text);
      }

      > a {
        @include font-size(h5);
        font-style: italic;
        color: color(main);
        padding: 1rem 0;
        @extend .cta-third;
      }

      p {
        @include font-size(p);
        font-weight: 300;
        text-align: right;
        line-height: 1.8;
        width: 74%;
        margin: 0 0 0 auto;

        > span {
          font-style: italic;
          text-transform: capitalize;
        }
      }

      &.--primary {
        @extend .flex-center;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;

        p {
          text-align: left;
          padding: 1rem 0;
          width: 90%;
          margin: 0 0;
        }
      }
    }
  }

  @include device(mobileAndTablet) {
    & {
      position: relative;
      padding: 30vh 0 10vh;
      height: auto;

      &__content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 $mobile-page-padding;

        &-background {
          position: absolute;
          width: 100vw;
          height: 40rem;
          left: 0;
          top: 0;
          background-color: color(background-lighter);
        }

        &-image {
          order: 1;
          margin: -10rem 0 8rem;
        }

        &-description {
          width: 100%;
          order: 2;
          margin: 0 !important;

          > a {
            @include font-size(h3);

            &::after {
              top: 4rem;
            }
          }

          > p {
            @include font-size(h4);
            width: 100%;
            text-align: left;
          }

          &.--primary {
            padding: 10rem 0 0;

            p {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
