.about {
  background-color: color(background);
  height: auto;
  padding: 13.7rem 0;
  position: relative;

  &__background {
    position: absolute;
    width: 46rem;
    height: 40rem;
    left: 46.5%;
    top: 11vh;
    background-color: color(background-lighter);
  }

  &__image {
    @extend .img-background;
    width: 20rem;
    height: 26rem;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    @extend .flex-between;
    padding: 0 10vw;
    position: relative;

    &-image {
      @extend .img-background;
      width: 20rem;
      height: 26rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-description {
      width: 22vw;
      z-index: 2;

      > * {
        font-family: font(text);
      }

      > a {
        @include font-size(h5);
        font-style: italic;
        color: color(main);
        padding: 1rem 0;
        @extend .cta-third;

        &::after {
          will-change: transform;
        }
      }

      p {
        @include font-size(p);
        font-weight: 300;
        text-align: right;
        line-height: 1.8;
      }

      &.--primary {
        width: 32vw;
        @extend .flex-center;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding-right: 7rem;

        p {
          text-align: left;
          padding: 1rem 0;
        }
      }
    }
  }

  @include device(mobileAndTablet) {
    & {
      display: none;
      //     position: relative;
      //     padding: 20vh 0 0;
      //     height: auto;

      //     &__background {
      //       width: (100vw - $page-padding * 2);
      //       height: 42rem;
      //       left: $page-padding;
      //       top: 26vh;
      //     }

      //     &__image {
      //       left: ($page-padding * 3);
      //       top: 14vh;
      //       transform: none;

      //     }

      //     &__content {
      //       position: relative;
      //       padding: 31vh ($page-padding * 3) 0;

      //       &-description {
      //         width: 100%;
      //         padding: 0;

      //         p {
      //           text-align: left;
      //           @include font-size(h4);
      //           padding: 3.7rem 0;
      //         }

      //         > a {
      //           @include font-size(h3);

      //           &::after {
      //             top: 4rem;
      //           }
      //         }

      //         &.--primary {
      //           width: 100%;
      //           padding: 7rem 0;
      //         }
      //       }
      //     }
    }
  }
}
