.projects {
  height: auto;
  background-color: color(background);
  position: relative;

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend .flex-center;
    flex-direction: column;

    > p {
      font-family: font(text);
      @include font-size(h5);
      font-style: italic;
      position: relative;
      color: color(main);
      margin: 2.5rem 0;
      font-weight: 300;

      &::after {
        content: "";
        position: absolute;
        background-color: color(main);
        width: 70%;
        height: 0.05rem;
        left: 15%;
        top: 2.3rem;
        transform-origin: left;
      }
    }

    &-title {
      font-size: 2rem;
      width: 55%;
      text-align: center;
      line-height: 1.1;
    }
  }

  &::after,
  &::before {
    content: "";
    position: fixed;
    background-color: color(accent);
    width: 0.01rem;
    height: 14rem;
    left: 50%;
  }

  &::before {
    top: 6rem;
  }

  &::after {
    bottom: 5rem;
  }

  &__display {
    @extend .flex-between;
    padding: 11% 12%;

    &-image {
      @extend .img-background;
      width: 22rem;
      height: 36.25rem;
    }
  }
}
