.work {
  @extend .flex-center;
  padding: 15rem 0;

  &__titleWrapper {
    @extend .heading-reveal;
    position: fixed;
    width: 100%;
    top: 50%;
    mix-blend-mode: difference;
    z-index: 1;

    &-line {
      line-height: 11.2rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      > span {
        font-size: 10rem;
        color: color(background-lighter);
        word-spacing: -0.5rem;
        text-align: center;
        opacity: 0;
        display: block;
      }
    }
  }

  &__imageWrapper {
    @extend .flex-between;
    width: 100vw - ($page-padding * 2);

    a,
    .img {
      @extend .img-background;
      width: 33rem;
      height: 45rem;
      z-index: 0;
    }

    a {
      .mainImage {
        &-2 {
          object-position: 64%;
        }
      }
    }
    .img {
      clip-path: inset(100% 0 0);
    }

    .imageRight,
    .imageLeft {
      width: 15rem;
      height: 25rem;
    }

    .imageRight {
      align-self: center;
    }

    .imageLeft {
      align-self: flex-end;
    }
  }

  @include device(mobileAndTablet) {
    &:not(:last-child) {
      padding-bottom: 25vh;
    }
    padding-top: 0;

    &__titleWrapper {
      top: 15rem;

      &-line {
        line-height: 6rem;

        > span {
          font-size: 5.5rem;
        }
      }
    }

    .imageLeft,
    .imageRight {
      display: none;
    }

    .img {
      width: 100%;
      height: 56rem;
    }
  }
}
