.hero {
	padding: 0 $page-padding;
	background-color: var(--background);
	@extend .flex-center;
	flex-direction: column;
	min-width: 100vw;
	min-height: 50rem;
	margin: 0 auto;
	overflow: hidden;

	&_content {
		width: 70%;
		text-align: center;
		margin: 0 auto;
		position: relative;

		&__stroke {
			position: absolute;
			top: -3.5rem;
			left: 50%;
			transform: translateX(-50%);
			will-change: transform;

			svg {
				width: 35vw;

				line {
					stroke: var(--main);
					opacity: 0.3;
				}
			}

			&--second {
				top: auto;
				bottom: -3.5rem;
			}
		}

		&__title {
			font-size: 8rem;
			line-height: 1;
			padding: 11rem 0 0;
			color: var(--main);

			span {
				font-style: italic;
			}
		}

		&__subtitle {
			@include font-size(p);
			font-family: font(text);
			text-transform: uppercase;
			font-style: italic;
			font-weight: 400;
			padding: 2rem 0;
			color: var(--main);

			span {
				font-weight: 200;
				display: block;
			}
		}
	}

	@include device(mobileAndTablet) {
		& {
			min-height: 100vh;

			&_content {
				width: 100%;

				&__title {
					font-size: 5rem;
				}

				&__stroke {
					opacity: 1;
					will-change: top, bottom;
					top: -5.5rem;

					svg {
						width: 57vw;
					}

					&.second {
						bottom: -5.5rem;
						will-change: left, bottom;
					}
				}
			}
		}
	}
}
