.cursor-dot {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 99;
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  background: color(main);

  @include device(mobile) {
    & {
      display: none;
    }
  }
}
