.contact__form {
  &-title {
    font-family: font(text);
    @include font-size(h5);
    font-weight: 300;
    color: color(main);
    opacity: 0.75;
    padding-bottom: 6rem;
  }

  form {
    > .inputWrapper {
      @extend .flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      width: 20rem;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      &.submitWrapper {
        align-items: flex-end;
      }

      label {
        position: absolute;
        top: 50%;
        transform: translateY(-45%);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        text-transform: capitalize;
        @include font-size(h6);
        font-family: font(text);
        color: color(main);

        &.active {
          left: 0;
          opacity: 0.6;
          transform: translateY(-160%);
        }
      }

      &:focus-within {
        label {
          left: 0;
          opacity: 0.6;
          transform: translateY(-160%);
        }
      }
    }

    textarea {
      overflow: scroll;
    }

    input,
    textarea,
    button {
      @include font-size(h5);
      background: none;
      outline: none;
      border: none;
      padding: 0.8rem 0;
      width: 20rem;
      resize: none;
      border-bottom: 1px solid color(main);
      font-family: font(text);
      color: color(main);
    }

    button {
      @include font-size(p);
      @extend .cta-third;
      opacity: 0.7;
      text-align: center;
      width: 7rem;
      transition: opacity 0.2s ease-in-out;
      cursor: none;
      border: none;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.errorMessage {
  @include font-size(small);
  bottom: -1.8rem;
  position: absolute;
  color: #e55e5e;
}
