.header {
  overflow-x: hidden !important;

  &__hamburger__container {
    width: 3rem;
    height: 3rem;
    @extend .flex-center;
    position: fixed;
    right: $page-padding;
    top: 3rem;
    z-index: 3;

    &-hamburger {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;

      svg {
        width: 3.5rem;
        height: 3.5rem;
      }

      .line {
        fill: none;
        stroke: color(main);
        stroke-width: 0.1rem;
        transition: stroke-dasharray 800ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 800ms cubic-bezier(0.4, 0, 0.2, 1);

        &-1 {
          stroke-dasharray: 60 207;
          stroke-width: 0.1rem;
        }
        &-2 {
          stroke-dasharray: 60 207;
          stroke-width: 0.1rem;
        }
        &-3 {
          stroke-dasharray: 60 207;
          stroke-width: 0.1rem;
        }
      }
      &.active .line {
        &-1 {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 0.1rem;
        }
        &-2 {
          stroke-dasharray: 0 60;
          stroke-dashoffset: -30;
          stroke-width: 0.1rem;
        }
        &-3 {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 0.1rem;
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: color(background-lighter);
    pointer-events: none;
    user-select: none;
  }

  &__nav {
    @extend .flex-center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40vw;
    height: 100vh;
    background-color: color(background);
    transform: translateX(100%);
    z-index: 2;
    overflow: hidden;

    &__list {
      @extend .inline-list;

      &-item {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        a {
          color: color(main);
          font-size: 3rem;
          text-align: center;
          display: block;
          @extend .cta-secondary;
        }
      }
    }
  }

  @include device(mobileAndTablet) {
    & {
      &__nav {
        width: 100vw;
      }
    }
  }
}
