.theme-light {
  --main: #252525;
  --background: #efebe8;
  --overlay: #8d8d8d;
  --accent: #e6e1de;
}

.theme-dark {
  --main: #efebe8;
  --background: #252525;
  --overlay: #1e1e1e;
  --accent: #292929;
}

body {
  font-family: font(text) !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  cursor: none !important;

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    cursor: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .fade {
    opacity: 0.6 !important;

    &::after {
      transform: scale(1);
    }
  }
}
